body{
    background-color: #16A085;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: normal;
}

h1, h2, h3, h4, h5 {
    font-weight: normal;  
}

h1{
    font-size: 40px;
    color: #333;
}

#poker-table{
    border-radius: 600px;
    border: 6px solid #BDC3C7;
    background-color: #ECF0F1;
    position: absolute;
    top: -350px;
    left: 200px;
    width: 1200px;
    height: 900px;
}

#hero, #villain{
    border: 1px solid #333;
    border-radius: 200px;
    background-color: #E74C3C;
    width: 200px;
    height: 200px;
    position: relative;
    color: #333;
    top: 450px;
    left: 200px;
    display: inline-block;
}

#villain{
    background-color: #3498DB;
    left: 550px;
}

#input-box{
    border: 1px solid #ECF0F1;
    width: 800px;
    height: 400px;
    position: relative;
    top: 350px;
    left: 200px;
}